@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600");

:root {
  --min-width-mobile: 375px;
  --min-width-desktop: 1440px;

  --primary-color-red: hsl(0, 78%, 62%);
  --primary-color-cyan: hsl(180, 62%, 55%);
  --primary-color-orange: hsl(34, 97%, 64%);
  --primary-color-blue: hsl(212, 86%, 64%);

  --neutral-color-very-dark-blue: hsl(234, 12%, 34%);
  --neutral-color-grayish-blue: hsl(229, 6%, 66%);
  --neutral-color-very-light-gray: hsl(0, 0%, 98%);

  --body-font-size: 15px;
  --body-font-family: "Poppins", sans-serif;

  --font-weight-extra-light: 200;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
}

body {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  background-color: var(--neutral-color-very-light-gray);
}

h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0 60px 0;
}

h1 {
  font-size: 24px;
  font-weight: var(--font-weight-extra-light);
  color: var(--neutral-color-very-dark-blue);
}

h2 {
  font-size: 24px;
  font-weight: var(--font-weight-semi-bold);
  color: var(--neutral-color-very-dark-blue);
}

header p {
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  color: var(--neutral-color-grayish-blue);
  margin: 20px;
  text-align: center;
  max-width: 550px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  height: auto;
  margin: 16px;
  border-radius: 8px;
  background-color: var(--neutral-color-very-light-gray);
  box-shadow: 0 10px 20px var(--neutral-color-very-light-gray),
    0 6px 12px var(--neutral-color-grayish-blue);
}

#supervisor {
  border-top: 4px solid var(--primary-color-cyan);
}

#team-builder {
  border-top: 4px solid var(--primary-color-red);
}

#karma {
  border-top: 4px solid var(--primary-color-orange);
}

#calculator {
  border-top: 4px solid var(--primary-color-blue);
}

h3 {
  font-size: 18px;
  padding: 20px 0 12px 20px;
  font-weight: var(--font-weight-semi-bold);
  color: var(--neutral-color-very-dark-blue);
}

.card p {
  font-size: 16px;
  padding: 0 20px 40px 20px;
  font-weight: var(--font-weight-extra-light);
  color: var(--neutral-color-grayish-blue);
}

.icon {
  width: 64px;
  height: 64px;
  align-self: flex-end;
  margin: 20px;
}

#supervisor span {
  background: url("./images/icon-supervisor.svg");
}

#team-builder span {
  background: url("./images/icon-team-builder.svg");
}

#karma span {
  background: url("./images/icon-karma.svg");
}

#calculator span {
  background: url("./images/icon-calculator.svg");
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 40px;
  padding: 0 40px;
  font-size: 12px;
  font-weight: var(--font-weight-extra-light);
  color: var(--neutral-color-grayish-blue);
}

a {
  text-decoration: none;
  color: var(--primary-color-blue);
}

@media only screen and (min-width: 1640px) {
  main {
    width: 80vw;
    margin: auto;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1250px),
  (min-width: 1440px) {
  #karma.card {
    order: 4;
  }

  #supervisor.card,
  #calculator.card {
    position: relative;
    top: 150px;
  }
}

@media only screen and (min-width: 375px) {
  header {
    justify-content: center;
  }

  header p {
    flex-wrap: wrap;
  }

  .card {
    margin: 12px 30px;
  }
}
